@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Orbitron:wght@400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&family=Sedgwick+Ave&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #02131b !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Advent Pro";
}

p,
a,
button {
  font-family: "Rubik";
}

//Navbar
.navbar {
  background-image: url("/icons/nav_backPic.svg");

  padding: 0 !important;
  width: 100%;
  position: absolute !important;
  top: 57px;
  z-index: 999;

  @media (max-width: 1030px) {
    padding: 0 30px !important;
  }
  @media (max-width: 768px) {
    top: 50px;
  }

  .navbar-toggler-icon {
    background-image: url("/icons/nav_menu.svg") !important;
  }
  .navbar-toggler {
    color: rgb(255 255 255 / 0%) !important;
  }

  .container-fluid {
    max-width: 1140px;
    padding: 0 !important;
    position: sticky;

    .navbar-nav-scroll {
      @media (max-width: 767px) {
        overflow-y: inherit !important;
        min-height: 366px;
      }
    }
    .nav_logo {
      width: 256px;
      height: 69px;

      @media (max-width: 1030px) {
        width: 160px;
        height: 43.12px;
      }
    }
    .nav_linksBtn {
      width: 100%;
    }
    .navbar-nav {
      align-items: center;
      margin-left: auto;
      @media (max-width: 767px) {
        background-color: #02131b;
        align-items: flex-start;
        padding: 27px;
      }
      a.nav-link {
        max-width: 113px;
        white-space: pre;
        color: #fff !important;
        padding: 0;
        margin-right: 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;

        @media (min-width: 767px) and (max-width: 1030px) {
          margin-right: 13px;
        }

        @media (max-width: 767px) {
          margin: 0 0 20px;
        }
      }

      a.lang_link {
        margin: 0 10px;

        @media (max-width: 992px) {
          margin: 15px 0;
        }
      }
    }
    .flag_div {
      display: flex;

      .flag_Img {
        width: 26px;
        height: 26px;
      }
    }
  }
  //Dropdown-Navbar
  .dropdown {
    .btn-primary {
      background: none;
      border: none;
      font-family: "Rubik";
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      padding-right: 0;
    }
    .dropdown-toggle {
      color: $White !important;
      background-color: #d10d0d00 !important;
      border-color: #1fce4800 !important;

      &:focus {
        box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%) !important;
      }

      &::after {
        display: inline-block;
        margin: 0 0 -3px 10px;
        vertical-align: 0.255em;
        content: "";
        width: 13px;
        height: 8px;
        border-top: 0 solid;
        border-right: 0 solid transparent !important;
        border-bottom: 0 !important;
        border-left: 0 solid transparent !important;
        background-image: url("/icons/nav_arrow.svg") !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .dropdown-menu {
      right: 0;
      left: inherit;
    }
  }
}

// faq

.accordion {
  .accordion-item {
    background-color: transparent !important;
    border: 1px solid;
    border-image-slice: 1 !important;
    border-image: $BorderLinearGradient;
    margin-bottom: 20px;
  }
  .accordion-item:first-of-type .accordion-button,
  .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0 !important;
  }
  .accordion-item:first-of-type .accordion-button {
    border-top: none !important;
  }
  .accordion-button {
    justify-content: center !important;
    font-family: "Advent Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 10px !important;
    color: $finPrimaryColor;
    background-color: transparent !important;
    border-top: 1px solid;
    &:focus {
      box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
    }
    &::after {
      display: none !important;
      background-image: none !important;
    }
    &:not(.collapsed) {
      color: $finPrimaryColor;
    }
    &:hover {
      border-top: 1px solid !important;
      border-image-slice: 1 !important;
      border-image: linear-gradient(
        180deg,
        #01d6fe 0%,
        #008bd9 31.25%,
        #10ffb7 100%
      );
      color: $White;
      background: rgba(1, 214, 254, 0.37) !important;
    }
  }

  .accordion-body {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: $White;
    padding: 0 97px 10px !important ;
  }
}

.three-banner-bg-image {
  width: 100%;
  height: 100%;
  background-image: url(/icons/three-banner-img.svg);
  background-position: unset;
  background-repeat: no-repeat;
  background-size: cover;
}
