@import "../../assets/scss/variables.scss";
.finCrip_section {
  width: 100%;
  background-image: url("/icons/universe_background.svg");
  .fincrip_main {
    .fincrip_content {
      .fincrip_heading {
        font-weight: 700;
        font-size: 48px;
        line-height: 57px;
        color: $finPrimaryColor;
      }
      .fincrip_para {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: $White;
        margin: 20px 0 44px 0;
      }
    }
    .finFrame_section {
      .finCard_heading {
        max-width: 232px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $White;
      }
      .finCard_para {
        max-width: 231px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $White;
      }
    }
  }
}
