.faq_main {
  max-width: 947px;
  margin: auto;
  margin-bottom: 120px;

  .fag_heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    margin-bottom: 40px;
    color: $finPrimaryColor;
  }
  @media (max-width: 991px) {
    padding: 0 30px;
  }
}
