.finCrip_section {
  width: 100%;
  .fincrip_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    .fincrip_content {
      text-align: center;
      .fincrip_heading {
        max-width: 557px;
        font-weight: 700;
        font-size: 48px;
        line-height: 57px;
        margin: auto;
        color: $finPrimaryColor;
      }
      .fincrip_para {
        max-width: 947px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: $White;
        margin: 20px 0 44px 0;
      }
    }
    .fincrip_cards {
      display: flex;
      justify-content: space-around;
      margin: 40px 0 80px;
      .finFrame_section {
        max-width: 277px;
        min-height: 164px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        .finCard_heading {
          max-width: 232px;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          margin: 10px 0;
          color: $White;
        }
        .finCard_para {
          max-width: 231px;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: $White;
        }
        .card_border {
          width: 24.15px;
          height: 4px;
          background: #ff6600;
        }
      }
    }
  }
}
