.feature_main {
  .feature_section {
    .feature_head {
      .feature_heading {
        min-width: 252px;
        font-weight: 700;
        font-size: 48px;
        line-height: 57px;
        text-align: center;
        color: $finPrimaryColor;
      }
    }
    .feature_cards {
      .feature_card {
        max-width: 426px;
        padding: 35px 26px;
        background-image: url("/icons/finBorder_Img.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        .card_heading {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: $finPrimaryColor;
        }
        .card_para {
          max-width: 375px;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: $White;
        }
      }
    }
  }
}
