.universe_container {
  width: 100%;
  background-image: url("/icons/universe_background.svg");
  .main_universe {
    width: 100%;
    height: 822px;
    background-image: url(/icons/sphere-bg-main.svg);
    background-repeat: no-repeat;
    background-size: 827px 827px;
    background-position-x: 697px;
    background-position-y: 43px;

    .universe_section {
      display: flex;
      justify-content: space-around;
      max-width: 1440px;
      padding: 188px 92px 0 154px;
      .universeLeft_section {
        max-width: 663px;

        .universe_heading {
          font-style: normal;
          font-weight: 700;
          font-size: 70px;
          line-height: 90px;
          margin-bottom: 16px;
          text-transform: uppercase;
          color: $White;
        }
        .universe_innerHeading {
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 43px;
          text-transform: uppercase;
          color: $finPrimaryColor;
        }
        .universe_para {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          margin: 33px 0;
          color: $White;
        }
        .whitePaper_btn {
          background: #ff6600;
          box-shadow: 0px 0px 16px rgba(255, 102, 0, 0.77);
        }
        .joinPresale_btn {
          // opacity: 25%;
          background: transparent;
          margin-left: 31px;
          border: 2px solid;
          border-image-source: linear-gradient(
            94.33deg,
            #01d8fc 0%,
            rgba(1, 214, 254, 0.16) 103.1%
          );
        }
        .joinPresale_btn:focus {
          box-shadow: none;
        }
        .universe_btn {
          font-weight: 700;
          font-size: 30px;
          line-height: 36px;
          color: $White;
          border-radius: 10px;
          padding: 20px 30px;
          border-color: none;
          text-transform: uppercase;
        }
      }

      .right_logo {
        width: 555px;
        height: 554px;
      }
    }
  }
}
