.team_main {
  max-width: 948px;
  margin: auto;
  margin-bottom: 53px;
  padding: 0;
  @media (max-width: 992px) {
    padding: 0 30px;
  }
  .team_section {
    .team_heading {
      font-weight: 700;
      font-size: 48px;
      line-height: 57px;
      text-align: center;
      margin-bottom: 70px;
      color: $finPrimaryColor;
    }
  }
  .team_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 992px) {
      justify-content: center;
    }

    & :first-child,
    & :nth-child(3) {
      margin-right: 0;

      @media (min-width: 688px) and (max-width: 992px) {
        margin-right: 20px;
      }
    }

    .last_cards {
      width: 469px !important;
      min-height: 375px !important;
      margin-top: 10px;

      @media (min-width: 688px) and (max-width: 992px) {
        width: 309px !important;
        min-height: 447px !important;
        margin-top: 0;
      }

      @media (max-width: 687px) {
        width: 100% !important;
        min-height: 447px !important;
        margin-top: 0;
      }
    }
    .card {
      width: 309px;
      min-height: 447px;
      padding: 50px 21px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border: 1px solid transparent;
      border-image-slice: 1;
      border-image-source: $BorderTeamLinearGradient;
      background: rgba(0, 0, 0, 0.31);
      margin-bottom: 0;

      @media (max-width: 992px) {
        margin-bottom: 20px;
      }
      @media (max-width: 687px) {
        width: 100%;
      }

      .card_heading {
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        margin: 20px 0 10px;
        background: $TextLinearGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .card_para {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $White;
      }
    }
  }
}
